<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>List Properties</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Add other styling or libraries as needed -->
</head>
<body>
    <div class="container my-2">
        <h3>List of Properties</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Property Name</th>
                    <th>Property Address</th>
                    <th>Edit</th>
                    <!-- Add other columns as needed -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="property : ${properties}">
                    <td th:text="${property.id}"></td>
                    <td th:text="${property.propertyName}"></td>
                    <td th:text="${property.propertyAddress}"></td>
                    <td>
                        <a th:href="@{/properties/edit-property/{id}(id=${property.id})}" class="btn btn-primary">Edit</a>
                    </td>
                    <!-- Add other columns as needed -->
                </tr>
            </tbody>
        </table>
        <a th:href="@{/properties/edit-property/{id}(id=${property.id})}" class="btn btn-primary">Edit</a>
        <a th:href="@{/properties/add-property}" class="btn btn-success">Add Property</a>
            </div>
</body>
</html>
