<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>List Owners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Add other styling or libraries as needed -->
</head>
<body>
    <div class="container my-2">
        <h3>List of Owners</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Contact Information</th>
                    <th>Edit</th>
                    <!-- Add other columns as needed -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="owner : ${owners}">
                    <td th:text="${owner.id}"></td>
                    <td th:text="${owner.name}"></td>
                    <td th:text="${owner.contactInformation}"></td>
                    <td>
                        <a th:href="@{/owners/edit-owner/{id}(id=${owner.id})}" class="btn btn-primary">Edit</a>
                    </td>
                    <!-- Add other columns as needed -->
                </tr>
            </tbody>
        </table>
        <a th:href="@{/owners/edit-owner/{id}(id=${owner.id})}" class="btn btn-primary">Edit</a>
<a th:href="@{/owners/add-owner}" class="btn btn-success">Add Owner</a>

    </div>
</body>
</html>
