<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>List Rental Contracts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Add other styling or libraries as needed -->
</head>
<body>
    <div class="container my-2">
        <h3>List of Rental Contracts</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Property</th>
                    <th>Owner</th>
                    <th>Tenant</th>
                    <th>Monthly Rent</th>
                    <th>Edit</th>
                    <!-- Add other columns as needed -->
                </tr>
            </thead>
            <tbody>
                <tr th:each="contract : ${rentalContracts}">
                    <td th:text="${contract.id}"></td>
                    <td th:text="${contract.property.propertyName}"></td>
                    <td th:text="${contract.owner.name}"></td>
                    <td th:text="${contract.tenant}"></td>
                    <td th:text="${contract.monthlyRent}"></td>
                    <td>
                        <a th:href="@{/rental-contracts/edit-contract/{id}(id=${contract.id})}" class="btn btn-primary">Edit</a>
                    </td>
                    <!-- Add other columns as needed -->
                </tr>
            </tbody>
        </table>
        <a th:href="@{/rental-contracts/edit-contract/{id}(id=${contract.id})}" class="btn btn-primary">Edit</a>
        <a th:href="@{/rental-contracts/add-contract}" class="btn btn-success">Add Rental Contract</a>
            </div>
</body>
</html>
